#KERNEL=="sd[abcde]", SUBSYSTEM=="block", SUBSYSTEMS=="usb", ATTRS{product}=="Cruzer Fit", ATTRS{serial}=="secret:)", \
#ACTION=="add", RUN+="/home/garrett/tools/mountscript.sh $devnode $name 1 $env{ID_MODEL}"

KERNEL=="sd[abcde]", SUBSYSTEM=="block", SUBSYSTEMS=="usb", \
 ACTION=="add", RUN+="/eve/fast_udev.sh $devnode $name 1 $env{ID_MODEL}"

ENV{DEVNAME}=="/dev/sd[abcde]", SUBSYSTEM=="block", SUBSYSTEMS=="usb", , ACTION=="remove", \
 RUN+="/eve/umountscript.sh $devnode $name 1 $env{ID_MODEL}"
